.createProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.imagePreview{
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
    border: 1px solid rgb(183, 183, 183);
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: rgb(78, 78, 78);
    
}

img{
    max-width: 100%;
}